<section>
  <h3>Log In</h3>

  <form>
    <label>
      Email:
      <input type="email" placeholder="admiral.holdo@example.com" />
    </label>

    <label>
      Password:
      <input type="password" placeholder="We will keep it secret" />
    </label>

    <button>Log In</button>
  </form>
</section>
