<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Playlist</title>

  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <h1>Ironhack Playlist</h1>

    <nav>
      <a href="/">Home</a>
      <a href="/playlist">Full Playlist</a>
    </nav>
  </header>

  <!-- this line controls where the page content is located -->
  {{{body}}}

  <footer>
    <p>Made with 💘 at Ironhack</p>
  </footer>
</body>
</html>
